/* This is the CSS file for the entire project that styles all the components */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6a7b6c;
  color: #fff;
  padding: 2px 20px;
}

.navbar .link {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 100%;
}

.link {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  font:  1.2rem/1.5rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

.link:hover {
  background-color: #5f6d61;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #26452d; 
}

.header_title {
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  font: bold 1.8rem/1.5rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: #FFFFFF;
}

.header_github {
  color: #FFFFFF; /* White icon color */
  font-size: 24px; /* Adjust icon size */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: color 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.header_github:hover {
  color: #9F7AEA; /* Light purple color on hover */
}

/* Ensures the icon inherits the anchor tag's color */
.header_github svg {
  fill: currentColor;
}

button[type="submit"].modal-close,
button[type="button"].modal-close {
  margin-right: 5px; /* Add space between the buttons */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #26452d;
  padding: 30px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  position: relative;
  overflow-y: auto;
  max-height: 80%;
}

.modal-content .label {
  font-size: 1.8em;
  font-weight: bold;
  padding: 10px;

}

.modal-content input[type="text"],
.modal-content input[type="date"],
.modal-content input[type="number"] {
  width: calc(100% - 10px);
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.modal-content input[type="checkbox"] {
  margin-right: 10px;
}

.modal-close:hover{
  color: #687d6e;
  cursor: pointer;
}

.modal-close {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5); /* White border with some transparency */
  font-size: 1rem;
  color: white;
  cursor: pointer;
  padding: 5px 10px; /* Add some padding */
  border-radius: 4px; /* Rounded corners for the outline */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.modal-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6a7b6c;
  color: #fff;
  padding: 5px; /* Adjust padding to match .link */
  border-radius: 5px;
  transition: background-color 0.3s; /* Add transition for hover effect */
  text-decoration: none; /* Remove default link underline */
  font: 1.2rem/1.5rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  flex-grow: 1;
  justify-content: center;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.input-group input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

label {
  margin-right: 10px; /* Spacing between label and input */
  white-space: nowrap; /* Ensure the label text does not wrap */
  flex-basis: 30%; /* Gives label a fixed percentage of the form-group width */

}


.modal-button:hover {
  background-color: #5f6d61; /* Match the hover color of .link */
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f4f4f4;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #fff; /* Bright background for better contrast */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center; /* Center text in cells */
}

/* Header styles */
th {
  background-color: #3f563f;
  color: white;
  font-weight: bold;
}

.calendar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3f563f;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.day-box {
  display: grid;
  grid-template-columns: minmax(auto, max-content) 1fr; /* Create two columns */
  grid-template-rows: auto 1fr; /* Create two rows */
  gap: 5px; /* Space between grid items */
  background-color: #6a7b6c; /* Base background color */
  border: 1px solid #ddd; /* Border for the day box */
  border-radius: 5px; /* Rounded corners for the box */
  overflow: hidden; /* Ensures nothing spills out of the box */
}

.date-box {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: #fff; /* White color for the date text */
  display: flex;
  align-items: center;
  border-radius: 5px; /* Rounded corners for the box */
  justify-content: center;
  padding: 5px;
  font-weight: bold;
}
.date-workout {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  overflow: hidden; /* Ensures text doesn't overflow the box */
  white-space: nowrap; /* Prevents wrapping and keeps content in a single line */
  text-overflow: ellipsis; /* Adds an ellipsis if the text overflows */
  color: #fff; /* White color for the date text */
  font-weight: bold;
}

.stats {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  border-top: 1px solid #ddd; /* Adds a visual separation */
}

.minutes, .miles {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.minutes {
  background-color: #cad5cb; /* Light green background for minutes */
}

.miles {
  background-color: #aab5ab; /* Light blue background for miles */
}

.week-totals {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-template-rows: repeat(2, auto); /* Two rows to accommodate minutes and miles */
  gap: 5px; /* Space between grid items */
  background-color: #6a7b6c; /* Dark green background to match the headers */
  border-radius: 5px; /* Rounded corners for consistency */
  padding: 10px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-top: 10px; /* Space from the last row */
  align-items:end; /* Center the items vertically */
  display: flex;
  align-self: end;
}


.week-totals .minutes{
  background-color: #cad5cb; /* Lighter green background for distinction, same as navbar */
  border-radius: 3px;
}
.week-totals .miles{
  background-color: #aab5ab; /* Lighter green background for distinction, same as navbar */
  border-radius: 3px;

}


tr:nth-child(even) {
  background-color: #f2f2f2; 
}

tr:hover {
  background-color: #eee; /* Light grey background on hover */
}